<!DOCTYPE html>
<html>

<head>
  <title>404</title>
  <link rel="icon" href="/img/coloud.png">

    <link rel="stylesheet" href=" ./css/style.css">

</head>
<body>
  <div class="main-content">
    {{>header}}
   
  
    <p><h1>{{errorMessage}} </h1></p>

    

  </div>
     
      {{>footer}}
</html>