<!DOCTYPE html>
<html>

<head>
  <title>about</title>
  <link rel="icon" href="/img/coloud.png">

    <link rel="stylesheet" href=" ./css/style.css">

</head>
<body>
    <div class="main-content">
              {{>header}}
              <p> it was created by rahul singh.it uses data from mapbox.com and darksky.com</p>
    
   <img  class="ab" src="/img/robot1.jpg"  width="450px" height="250px" alt=" no pic">
    <p>created by {{name}}</p>
        </div>

    
   
   
      {{>footer}}
</html>