<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
        <link rel="icon" href="/img/coloud.png">
        <link rel="stylesheet" href=" ./css/style.css"/>


    </head>
    <body>


        <div class="main-content">
              {{>header}}
              <p>use this site to use your weather</p>
<form action="">
    <input type="text" placeholder="location">
    <button>search</button>
</form>
<p id="m-1" ></p>
<p id="m-2" ></p>

        </div>
       

       
       
        {{>footer}}
                <script  src="./js/app.js"> </script>

    </body>
</html>